@import "tailwindcss";

@theme {
  /* Tailwind v4 mein variables yahan define hote hain */
  --color-app-bg: var(--bg);
  --color-app-text: var(--text);
  --color-app-border: var(--border);
}

:root {
  --bg: #f4f4f5;      /* Zinc-100 */
  --text: #18181b;    /* Zinc-900 */
  --muted: #71717a;   /* Zinc-500 */
  --border: #e4e4e7;  /* Zinc-200 */
}

.dark {
  --bg: #09090b;      /* Zinc-950 */
  --text: #fafafa;    /* Zinc-50 */
  --muted: #a1a1aa;   /* Zinc-400 */
  --border: #27272a;  /* Zinc-800 */
}

@layer base {
  body {
    background-color: var(--bg);
    color: var(--text);
    @apply transition-colors duration-300 min-h-screen antialiased;
  }
}