@import "tailwindcss";

/* LIGHT MODE */
:root {
  --bg: 244 244 245;        /* zinc-100 */
  --text: 24 24 27;        /* zinc-900 */
  --muted: 113 113 122;    /* zinc-500 */
  --border: 228 228 231;   /* zinc-200 */
}

/* DARK MODE */
.dark {
  --bg: 9 9 11;            /* zinc-950 */
  --text: 250 250 250;     /* white */
  --muted: 161 161 170;    /* zinc-400 */
  --border: 39 39 42;      /* zinc-800 */
}

html {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
}

body {
  min-height: 100vh;
}
